---
import behance from "../assets/behance.png";
import linkedin from "../assets/linkedin.png";
import instagram from "../assets/instagram.png";
---
<div class="py-10 bg-pink-500 text-white font-sans">
    <footer class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        
        <div class="flex justify-center space-x-5 mb-6">
            <a 
                href="https://www.linkedin.com/in/ángeles-verón-553b78255" 
                class="transition hover:opacity-75"
            >
                <img
                    id="linkedin"
                    src={linkedin.src}
                    alt="LinkedIn"
                    width="36"
                    height="36"
                />
            </a>
            <a 
                href="https://www.behance.net/ngelesvern"
                class="transition hover:opacity-75"
            >
                <img
                    id="behance"
                    src={behance.src}
                    alt="Behance"
                    width="36"
                    height="36"
                />
            </a>
            <a 
                href="https://www.instagram.com/"
                class="transition hover:opacity-75"
            >
                <img
                    id="instagram"
                    src={instagram.src}
                    alt="Instagram"
                    width="36"
                    height="36"
                />
            </a>
        </div>
        
        <ul class="flex justify-center space-x-4 mb-4 text-sm md:text-base">
            <li>
                <a 
                    href="/" 
                    class="text-inherit hover:font-bold hover:text-white transition duration-200"
                >
                    Inicio
                </a>
            </li>
            <li>
                <a 
                    href="/sobremi" 
                    class="text-inherit hover:font-bold hover:text-white transition duration-200"
                >
                    Sobre mí
                </a>
            </li>
          
        </ul>
        
        <p class="mt-4 text-center text-xs text-pink-900">
            Ángeles Verón © 2025
        </p>
    </footer>
</div>
